.button{
    padding: 3px 20px;
    background-color: rgb(8 130 255);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(4 96 190);
}