body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:linear-gradient(rgba(0, 0, 0, 0.303), rgba(0, 0, 0, 0.325)), url('../src/asset/images/password\ background\ \(1\).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 30rem;
  height: 30rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.passwordField{
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px 3px;
  width: 80%;

}

.flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
.justify-between{
  justify-content: space-between;
}